:root {
    --color-icon-green: rgb(54, 212, 4);
    --color-icon-yellow: rgb(247, 175, 37);
    --color-icon-red: rgb(246, 84, 84);
    --color-background-blue: rgb(51, 64, 199);
    --color-background-light-blue:rgb(240,240,255);
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: 8% 92%;
    align-items: start;
    background-color:var(--color-background-light-blue);
}

#topnav {
    overflow: hidden;
    background-color: #333;
    width: 100%;
    top: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: "a a b b . . . c";
}

#topnav div {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0;
    vertical-align:middle;
}

#topnav div.active {
    background-color: var(--color-background-blue);
    font-weight: bold;
}

#topnav div:hover {
    background-color: #ddd;
    color: black;
}
div.page{
    font-family:Helvetica, Arial, sans-serif;
}

div.page h2 {
    font-weight:100;

}